/* This css file overrides 
the previous override.css*/

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  h1 {
    font-size: 36px; /* Proportionally smaller */
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 13px;
  }

  h6 {
    font-size: 10px;
  }

  .img-float {
    max-width: 100%;
  }

  .fig-float {
    max-width: 100%;
  }
}

/* Further adjustments for extra small screens (like phones) */
@media (max-width: 480px) {
  h1 {
    font-size: 30px; /* Further reduced */
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 12px;
  }

  h6 {
    font-size: 9px;
  }

  .img-float {
    max-width: 100%;
  }

  .fig-float {
    max-width: 100%;
  }

  .assamese p {
    font-size: 1em;
  }
}
